table{
    border: solid 1px black;
    border-collapse: collapse;
    margin: auto;
}

th, td{
    border: solid 1px black;
    text-align: center;
    padding: 0px 8px;
}

#showButton{
    display: block;
    margin: 8px auto;
}

form{
    display: flex;
    flex-direction: column;
}

.check{
    display: flex;
    align-items: center;
}

#closeButton{
    margin-top: 4px;
    width: 100%;    
}
